 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 691px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 691px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-shape-1 {
  height: 427px;
  background-image: none;
  width: 382px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 435px;
  height: 328px;
  background-image: none;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -435px auto 0 0;
}

.u-section-1 .u-image-1 {
  width: 452px;
  height: 461px;
  object-position: 65.48% 0%;
  background-position: 50% 0%;
  box-shadow: 2px 2px 26px 0 rgba(26,26,26,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -409px auto -34px 46px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 691px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px 50px 40px;
}

.u-section-1 .u-text-1 {
  letter-spacing: 4px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  letter-spacing: normal;
  text-transform: none;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  margin: 9px 0 0;
}

.u-section-1 .u-text-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0;
}

.u-section-1 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1rem;
  border-style: solid;
  background-image: none;
  margin: 45px auto 0 0;
  padding: 19px 51px 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 570px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 638px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 352px;
    width: 294px;
    margin-right: 30px;
  }

  .u-section-1 .u-shape-2 {
    width: 384px;
    height: 253px;
    margin-top: -375px;
  }

  .u-section-1 .u-image-1 {
    width: 380px;
    height: 402px;
    margin-top: -319px;
    margin-bottom: -50px;
    margin-left: 45px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.125rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 534px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 143px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -379px;
  }

  .u-section-1 .u-image-1 {
    width: 464px;
    height: 398px;
    margin-top: -325px;
    margin-bottom: -46px;
    margin-left: 63px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 60px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -368px;
  }

  .u-section-1 .u-image-1 {
    width: 417px;
    height: 357px;
    margin-top: -305px;
    margin-left: auto;
    margin-bottom: -5px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 370px;
  }

  .u-section-1 .u-shape-1 {
    height: 237px;
    width: 234px;
  }

  .u-section-1 .u-shape-2 {
    width: 262px;
    height: 196px;
    margin-top: -260px;
  }

  .u-section-1 .u-image-1 {
    width: 264px;
    height: 240px;
    margin-top: -218px;
    margin-bottom: -3px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 809px;
}

.u-section-2 .u-group-1 {
  width: 710px;
  min-height: 582px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 60px 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px 30px 105px;
}

.u-section-2 .u-text-1 {
  margin: 0;
}

.u-section-2 .u-form-1 {
  width: 482px;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 2px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1rem;
  padding: 14px 0 15px;
}

.u-section-2 .u-list-1 {
  width: 485px;
  height: auto;
  margin: -388px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 485px;
  grid-gap: 0px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 45px 30px 20px;
}

.u-section-2 .u-icon-1 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: -22px 0 0 40px;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-3 {
  padding: 45px 30px 20px;
}

.u-section-2 .u-icon-2 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-4 {
  margin: -22px 0 0 40px;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-4 {
  padding: 45px 30px 20px;
}

.u-section-2 .u-icon-3 {
  height: 22px;
  width: 22px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  margin: -22px 0 0 40px;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 609px;
    margin-top: 65px;
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    border-style: solid;
    width: 100%;
  }

  .u-section-2 .u-list-1 {
    width: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 486px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 30px;
    padding-left: 90px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 46px;
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    width: 293px;
    margin-bottom: 57px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1088px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-bottom: 65px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-list-1 {
    width: 388px;
    margin-top: -46px;
    margin-left: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1095px;
  }

  .u-section-2 .u-group-1 {
    min-height: 583px;
    margin-top: 55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 45px 10px 30px;
  }

  .u-section-2 .u-list-1 {
    width: 275px;
    margin-top: -58px;
    margin-bottom: 55px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 213px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 32px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 213px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 32px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 213px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 32px;
  }
}